In [3]:
%matplotlib inline
from matplotlib import style
# Using this method tells matplotlib to use the 'fivethirtyeight' style: https://matplotlib.org/3.1.1/gallery/style_sheets/fivethirtyeight.html
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [5]:
import numpy as np
import pandas as pd

In [7]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [9]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [35]:
# initiate a SQL engine to hold our database
engine = create_engine("sqlite:///hawaii.sqlite")

# create a base class for SQL Alchemy's automap schema. Note Base is capitalized because it is a Class
Base = automap_base()

In [36]:
# reflect an existing database into a new model
Base.prepare(engine, reflect=True)
# reflect the tables

In [37]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [38]:
# Save references to each table
# IN order to reference a specific class (or Table in this case) we use the following format: 
# Base.classes.<class name>

# We can alias our classes by giving them new, more convenient names (re-assign)
Measurement = Base.classes.measurement
Station = Base.classes.station

In [39]:
# Create our session (link) from Python to the DB
# Once a session is created, we can query our data
session = Session(engine)

# Exploratory Climate Analysis

In [21]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 

# Calculate the date one year from the last date in data set.

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [23]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [25]:
# How many stations are available in this dataset?

In [27]:
# What are the most active stations?
# List the stations and the counts in descending order.

In [29]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [31]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [33]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates

# Challenge